.contenedor3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.img1{
    width: 1000px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.contenedor4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contenedor5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contenedor6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contenedor7{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.img2{
    width: 400px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.img3{
    width: 400px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.img4{
    width: 400px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.img5{
    width: 400px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.imig1{
    width: 200px;
    height: 100px;
    margin-right: 25px;
    border-radius: 15px;
}
.imig2{
    width: 200px;
    height: 100px;
    margin-right: 25px;
    border-radius: 15px;
}
.imig3{
    width: 200px;
    height: 100px;
    margin-right: 25px;
    border-radius: 15px;
}
.imig4{
    width: 200px;
    height: 100px;
    margin-right: 25px;
    border-radius: 15px;
}
.imig5{
    width: 200px;
    height: 100px;
    margin-right: 25px;
    border-radius: 15px;
}
.img12{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.im1{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.im2{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.im3{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.e1{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.e2{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.e3{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.e4{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
}
.tarjetitas{
    width: 400%;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(134, 187, 85);
    overflow: hidden;
    box-sizing: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjetas{
    width: 400%;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(134, 187, 85);
    overflow: hidden;
    box-sizing: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjetitas img{
    width: 200%;
    height: 210px;
}
.tarjetitas .contenido{
    padding: 15px;
    text-align: center;
}
.tarjetitas .contenido p{
line-height: 1.5;
color: black;
}
.tarjetitas .contenido h1{
    margin-bottom: 15px;
    color: blue;
    font-size: 200px;
}
.tarjetitas:hover{
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba (0,0,0,0 .4);
}
.contenedor9{
    width: 100;
    display: flex;
    max-width: 1500px;
}
.tarjetas img{
    width: 200%;
    height: 210px;
}
.tarjetas .contenido{
    padding: 15px;
    text-align: center;
}
.tarjetas .contenido p{
line-height: 1.5;
color: black;
}
.tarjetas .contenido h1{
    margin-bottom: 15px;
    color: blue;
    font-size: 200px;
}
.tarjetas:hover{
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba (0,0,0,0 .4);
}
.contenedor9{
    width: 100;
    display: flex;
    max-width: 1500px;
}
.parrafo{
    margin-right: 30px;
}