.contenedor{
    width: 100;
    display: flex;
    max-width: 1500px;
}
.tarjetas{
    width: 500%;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(139, 30, 30);
    overflow: hidden;
    box-sizing: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjetas img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
.tarjetas .contenido{
    padding: 10px;
    text-align: center;
}
.tarjetas .contenido p{
line-height: 1.5;
}
.tarjetas .contenido h1{
    margin-bottom: 15px;
    font-size: 200px;
}
.tarjetas:hover{
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba (0,0,0,0 .4);
}

.prueba{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: black;
}
.prueba:hover{
    color: blue;
}
.pruebita{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: black;
}
.pruebita:hover{
    color: blue;
}
.pruebota{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: black;
}
.pruebota:hover{
    color: blue;
}



